@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;600;700&display=swap');


*{
    box-sizing: border-box;
    /* margin: 0; */
    /* padding: 0; */
    outline: none;
}
.wrapper{
    max-width: 1950px;
    width: 90%;
    margin: 0 auto;
    /* padding: 0 20px; */
}
img{
    width: 100%;
    display: block;
}
 body {
        font-family: 'Urbanist', sans-serif;
      }